<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="JGFBFService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>eIizCPBnf0S31+Nw/EWVpRJWHipMiiHaY+LHkbwT5PA+N3ID3b6BAir+lsXlCgPDHYatgKiAUHcs/fBGxrBaFfSICyzOBKdLJ69yW5OWyrNpeTsIoYXwIavIkCHXTg7Q69SjUadjJ1qKC98VAKMhuQMbOqLTWfuDLzGlgcfTKkU=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>k6uTpHC01x8KY1WpE+MN/KSxoJJrnPtF2kFZ4zN/QyAdRSvUrdMtpXO21eTub3fnV0SfE25dZjFqCFjT3ESsoyvLH43FOqiFLJwHtKihr/6XIy1/X8n+DrtCsA8jzck8K7KOisqmNQNswDIbcZQSemBHyXIc3znpg/JQ4Mx4byYoUy0rVYN1LSZW35wJ9xkIsu+GPdhGSCskw8W0HkPBLNrYq4wyB+OUulMdElRrUc4Z7+0KF011ciC6b4kgITTrRfK7/EydTQk/k5MIogM4OC72NTt1MWXEVlGvOjMUXRAKQa3USkj4pRvKOuxDkTOjkVI4KpFhyDL3KzcHjsTmqVJEeMbyBi2/CGDEtWI33Fty1m3T+l/XC9f2JHNLD1ApO15QtkqBJvEoxPAgFOQPahPKXPM5po/mvwgFlK7RKkY9dY7uSAb2ZExrI70ng6bleKgSQfw2YzKaneUhL6vq9bF+L0bbecxpFWs9J7mBuKrvLA+slWjJgwUa65SG2PSLkClHv9M+Q2n+dh43H8fJ4T6XIdsSVkMNGi86ib4YCRUIMVoyfQkI4gVdSutvHOxEJ2x9CX0EOB8=</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="MyServiceBehavior" name="JGFBFService.JGFBFTwitter">
        <endpoint address="/TestInterface/" behaviorConfiguration="WebBehavior" binding="webHttpBinding" contract="JGFBFService.IJGFBFTwitter"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WebBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
