<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="JGFBFService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>ZvbQZn6zszj0CpxYxnhQyofuSt3qH0FED9WBl7oqoEp8wfiv6+E0YwR9NxupnKPBPIAc1vRo+Ppt1yyUP3k10W8ozwVDhHm+sKUZdDH52JPn2mf3XIlqCiFYK+DKThPIDdbZsgwd6vNm2vpL8d5sNwshLvyPNSZWL83OK7NPbUU=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>a2BQm6uh2LFBYdFzwoIZdwLb8UDf1mbyntfEQtLM8vYmOg9iT9VaJSEOZ0LlKCE/pgZBBVskqaVFYjCxpy3PujBiYvRgxubaEEBYXVLjLA9lYLlZE1D4izi34ufPuAWlAPj9UCzMxb4VF5Lna00xtM2WbqqCPIhx+6WYc5zFRzAe6qwIUB4blhFtYLkfOrjyU7TMpz2n7c8mpOxCsA+ieZ7dncbFJCAqHgEz4lkTjUp8XkBCQdHlctR+EJEcceiKDiehpWWNRPR4QlHRCJ53phvZXlIYL8Ao8vqFC0FJEU5RDi5xeLHdgqvxpex+d3xG8HURGtZRea0K4OGgQGcRufvywC/bJObEscmNYqA8Qd6q/kYh+TS3NwKBlFyITcwjMk9P1iw2+4IYSJ8pCefZVbIav2IBmlV3ZiNmEdHX+CmepPBhPaRWbe5rCjfg+eOQIvE0EKZ/lTIJTTm44Q2XMylJcYfDn9/AgyfODGc36DFQIqet+kkTSJwYNhrt0Di+RgJQNGEDBRGB1hFwMTmNeOJIUIzw5M4RtzNZFtwTEiFhAJEkl8aMjxVWOCYjNeu2UyfB4VWSdsg=</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="MyServiceBehavior" name="JGFBFService.JGFBFTwitter">
        <endpoint address="/TestInterface/" behaviorConfiguration="WebBehavior" binding="webHttpBinding" contract="JGFBFService.IJGFBFTwitter"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WebBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
